# Custom dev setups
launch.json
.vscode

# Build artifacts
__pycache__/
dist/
build/
sdist/
target/
*.log

# Virtualenvs
.env
.venv
env/
venv/
env.bak/
venv.bak/

# images and search
neo/
hayden_asagi/
data/

# sqlite databases
*.db

# SSL keys
*.pem

# User toml config files, except templates and pyproject
*.toml
!*.tpl.toml
!pyproject.toml