# custom dev setups
launch.json
.vscode
notes/

# runtime data
data/
secret.txt
asset_hashes.json
*.dump

# sqlite databases
*.db

# SSL keys
*.pem

# user toml config files, except templates and pyproject
*.toml
!*.tpl.toml
!pyproject.toml

# plugins
src/plugins/blueprints/*
!src/plugins/blueprints/__init__.py
!src/plugins/blueprints/bp_example.py

src/plugins/search/*
!src/plugins/search/__init__.py
!src/plugins/search/search_example.py

src/plugins/static/*.css
src/plugins/static/*.js

# Build artifacts
__pycache__/
dist/
build/
sdist/
target/
*.log
*.egg-info/

# Virtualenvs
.env
.venv
env/
venv/
env.bak/
venv.bak/
