aiofiles==23.2.1
aiomysql==0.2.0
blinker==1.7.0
Bootstrap-Flask==2.3.3
cffi==1.16.0
click==8.1.7
cryptography>=42.0.4
Flask==3.0.3
flask-paginate==2023.10.24
Flask-WTF==1.2.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.16.0
hyperframe==6.0.1
itsdangerous==2.1.2
Jinja2>=3.1.4
MarkupSafe==2.1.4
mysqlclient>=2.1.1
priority==2.0.0
pycparser==2.21
pymysql>=1.1.1
Quart==0.19.5
quart-flask-patch==0.3.0
quart-uploads==0.0.2
quart-wtforms==1.0.1
Werkzeug>=3.0.3
wsproto==1.2.0
WTForms==3.1.2
httpx==0.27.0
orjson==3.10.5
tqdm==4.66.4