aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiomysql==0.3.0
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
coredis==4.22.0
cryptography==45.0.5
Deprecated==1.2.18
Flask==3.1.1
frozenlist==1.6.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msgpack==1.1.0
multidict==6.4.4
orjson==3.11.5
packaging==25.0
pillow==11.3.0
priority==2.0.0
propcache==0.3.1
pybase64==1.4.1
pycparser==2.23
pydantic==2.11.4
pydantic_core==2.33.2
pyhumps==3.8.0
Pympler==1.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
Quart==0.20.0
quart-auth==0.11.0
quart-rate-limiter==0.12.0
quart-schema==0.22.0
quart-uploads==0.0.4
quart-wtforms==1.0.3
requests==2.32.4
six==1.17.0
tqdm==4.67.1
types-aiofiles==24.1.0.20250516
typing-inspection==0.4.1
typing_extensions==4.13.2
urllib3==2.6.3
werkzeug>=3.1.4
wrapt==1.17.2
wsproto==1.2.0
WTForms==3.2.1
yarl==1.20.0
zlib-ng==0.5.1