{% if archiveposting_form %}

<script type="text/javascript" src="/static/js/archiveposting.js" defer crossorigin="anonymous" integrity="sha384-alyVBBxIaO+w5KWv+5NQTow1cDUDx3YdiLYFqyCbWI18ue4QuDJU9n+2YYF87RvA"></script>

{% from 'macros/macros.html' import render_field %}
<div class="mw800 mauto">
  <div class="mw800 center">{{archiveposting_conf['board_desc']}}</div><br>
  <form action="" id="archivepostingform" method="post" role="form" autocomplete="off"
    onsubmit="this.submit.disabled = true;">
    <div class="form inlinegrid">
      <h3 class="center">{{form_message}}</h3>
      {{archiveposting_form.csrf_token()}}
      {{ render_field(archiveposting_form.title, class='w240') }}
      {{ render_field(archiveposting_form.comment, class='w240 h4em') }}
      {{ render_field(archiveposting_form.captcha_id) }}
      <img width="65px" src="data:image/jpeg;base64,{{archiveposting_form.captcha_b64_img_str}}" />
      {{ render_field(archiveposting_form.captcha_answer, placeholder='Solution', class='center') }}
      <div class="mtb-1"><input id="submit" name="submit" type="submit" value="Submit"></div>
    </div>
  </form>
</div>
{% endif %}