<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">

        {% if tab_title %}
            <title>{{ tab_title }}</title>
        {% else %}
            <title>Ayase Quart</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/static/css/inline.css" rel="stylesheet" type="text/css">
        <link href="/static/css/{{theme}}.css" rel="stylesheet" type="text/css">
        <link href="/static/css/flags.css" rel="stylesheet" type="text/css">
        <link href="/static/css/polflags.css" rel="stylesheet" type="text/css">
        <link href="/static/css/polflags2.css" rel="stylesheet" type="text/css">

        <link href="/static/css/custom.css" rel="stylesheet" type="text/css">

        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

    </head>

    <body>
        <script type="text/javascript" src="/static/js/index.js"></script>

        {% if request.endpoint in [
            'bp_web_app.v_thread',
            'bp_web_app.v_board_index',
            'bp_web_app.v_board_index_page',
            'bp_web_vanilla_search.v_vanilla_search',
            'bp_web_index_search.v_index_search',
        ] %}
        <script type="text/javascript" src="/static/js/thread.js"></script>
        {% endif %}

        <div id="body">
            {% if request.endpoint in [
                'bp_web_app.v_thread',
                'bp_web_app.v_board_index',
                'bp_web_app.v_catalog',
                'bp_web_vanilla_search.v_vanilla_search',
                'bp_web_index_search.v_index_search'
            ] %}
                <span id="top">[<a href="#top_hidden">Top</a>] [<a href="#bottom_hidden">Bottom</a>]</span>
                <span id="top_hidden"></span>
                <br>
                <br>
            {% endif %}

            {% if not index %}
                <div class="letters">
                    {{site_name}}:
                    [
                    <a href="/">Home</a>
                    /
                    <a href="/about">About</a>
                    ]

                    {% if vanilla_search_enabled %}
                        <br>
                        Vanilla Search: [ <a href="{{ url_for('bp_web_vanilla_search.v_vanilla_search') }}">Search</a> ]
                    {% endif %}
                    {% if index_search_enabled %}
                        <br>
                        Index Search: [ <a href="{{ url_for('bp_web_index_search.v_index_search') }}">Search</a> ]
                    {% endif %}
                    {% if board_objects %}
                        <br>
                        Boards:
                        [
                        {% for board_object in board_objects %}
                            <a href="/{{ board_object.shortname }}/catalog">{{ board_object.shortname }}</a>{{ ' /' if not loop.last }}
                        {% endfor %}
                        ]
                    {% endif %}

                    {% if (is_admin or is_authenticated) %}
                        <br>
                        Admin: [

                        {% if is_admin %}
                            <a href="{{ url_for('bp_web_admin.users_index') }}">Users</a>
                            /
                        {% endif %}

                        <a href="{{ url_for('bp_web_moderation.reports_open') }}">Reports</a>
                        /
                        <a href="{{ url_for('bp_web_admin.stats') }}">Stats</a>
                        /
                        <a href="{{ url_for('bp_web_admin.latest') }}">Latest OPs</a>
                        /
                        <a href="{{ url_for('bp_web_admin.configs') }}">Configs</a>
                        ]
                    {% endif %}

                    {% if request.path != '/login' and (is_admin or is_authenticated) %}
                        <br>
                        Profile: [
                            <a href="{{ url_for('bp_web_moderation.reports_open') }}">Moderation</a>
                            /
                            <a href="{{ url_for('bp_web_auth.logout') }}">Sign Out</a>
                        ]
                    {% endif %}
                </div>
            {% endif %}

            <h2 style="display: inline-block;">{{title}}</h2>
            <div class="container-fluid">
                {% if board %}
                    <div class="container">
                        <br>
                        {% if board %}
                            [
                                <a href="https://boards.4chan.org/{{ board }}/catalog" style="padding-right:4px;" rel="noreferrer" target="_blank"> /{{board}}/ on 4chan</a> /
                                <a href="/{{ board }}" style="padding-right:4px;">Index</a> /
                                <a href="/{{ board }}/catalog">Catalog</a>
                            ]
                            <br>
                        {% endif %}
                        <br>
                    </div>
                {% endif %}

                {% include 'macros/flash.html' %}

                {% block body %}
                {% endblock %}

                {% if report_modal_t %}
                    {{ report_modal_t | safe }}
                    <script type="text/javascript" src="/static/js/reports.js"></script>
                {% endif %}
            </div>

            {% if request.endpoint in [
                'bp_web_app.v_thread',
                'bp_web_app.v_board_index',
                'bp_web_app.v_catalog',
                'bp_web_vanilla_search.v_vanilla_search',
                'bp_web_index_search.v_index_search'
            ] %}
                <span id="bottom_hidden"></span>
            {% endif %}

        </div>
        <footer id="footer">
            Archive Powered By: <a href="https://github.com/sky-cake/ayase-quart" target="_blank">Ayase Quart</a>
        </footer>

    </body>

</html>