<!DOCTYPE html><html>
<head>
	<meta charset="utf-8">
	<title>{% if tab_title %}{{ tab_title }}{% else %}{{ site_name }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if include_flag_css %}
	<link href="/static/css/flags.css" rel="stylesheet" type="text/css">
	<link href="/static/css/polflags.css" rel="stylesheet" type="text/css">
	<link href="/static/css/polflags2.css" rel="stylesheet" type="text/css">
{% endif %}
	<link href="/static/css/custom.css" rel="stylesheet" type="text/css">
{% block scripts %}
	<script type="text/javascript" src="/static/js/utils.js" defer integrity="sha384-q6EPvnPOXUzqeDJyxLD+6z4HJQQlXJY+jpIfSB9axDMfG1Kb6+DsT0JU3GYj/UyC"></script>
	<script type="text/javascript" src="/static/js/index.js" defer integrity="sha384-dDUfZQrlJe+0ughnvGrd4DZCKbXnhEt1TGH4WrW/tAbMV6OcHe5RE09y1q3qSms8"></script>
{%- endblock scripts %}
</head>
<body>
    <span id="top_hidden"></span>
    <div id="body">
        {% include 'nav.html' %}
        {% include 'macros/flash.html' %}

        {% block body %}{% endblock %}

        {% if report_form_t %}
            {{ report_form_t|safe }}
            <script type="text/javascript" src="/static/js/reports.js" defer integrity="sha384-+Hw7M7UjZRnnH9CkXi7VFjybL7XOj2f4NPyfKPt5RxTZrcsHGvLU7o9VWXvN7TJd"></script>
        {% endif %}
    </div>
    <span id="bottom_hidden"></span>
	{% include "footer.html" %}
</body>
</html>