{% extends "base.html" %}
{% block body %}
    <div id="main">
        <div class="board">
            {% for i in threads %}

                {% set thread = i['posts'] %}

                {% set post = thread[0] %}
                
                {% include 'post.html' %}
                
                {% for post in thread[1:] %}
                    {% include 'post.html' %}
                {% endfor %}

                <hr>
            {% endfor %}
        </div>

        {% include 'pagination.html' %}

{% endblock %}
