<div id="{{ thread.num }}" class="thread doc_id_{{ thread.num }}" tabindex="0">
    <div class="post_data">
        {% if thread.title %}
            <br>
            <span class="post_title">{{ thread.title }}</span>
            <br>
        {% endif %}
        <span class="post_controls">
            [<a href="/{{ thread.board_shortname }}/thread/{{ thread.num }}" class="btnr parent" target="{{html_link_target}}">View</a>]
            [<a href="https://boards.4chan.org/{{ thread.board_shortname }}/thread/{{ thread.num }}" class="btnr parent" rel="noreferrer" target="_blank" >Source</a>]
        </span>

        {{ capcode_author(thread) }}

        {% if thread.trip %}<span class="post_trip">{{ thread.trip }}</span>{% endif %}
        {% if thread.capcode not in 'NAFMDGV' %}
            <strong class="capcode id_unknown">## {{thread.capcode}}</strong>
        {% endif %}
        {% if 'thread.capcode' == 'A' %}
            <strong class="capcode id_admin">## Admin</strong>
            <img src="/static/images/adminicon.gif" alt="Admin Icon" title="This user is a 4chan Administrator." class="identityIcon retina">
        {% endif %}
        {% if thread.capcode == 'F' %}
            <strong class="capcode id_founder">## Founder</strong>
            <img src="/static/images/foundericon.gif" alt="Founder Icon" title="This user is the 4chan Founder." class="identityIcon retina">
        {% endif %}
        {% if thread.capcode == 'M' %}
            <strong class="capcode id_moderator">## Mod</strong>
            <img src="/static/images/modicon.gif" alt="Mod Icon" title="This user is a 4chan Moderator." class="identityIcon retina">
        {% endif %}{% if thread.capcode == 'D' %}
            <strong class="capcode id_developer"> ## Developer</strong>
            <img src="/static/images/developericon.gif" alt="Developer Icon" title="This user is a 4chan Developer." class="identityIcon retina">
        {% endif %}
        {% if thread.capcode == 'G' %}
            <strong class="capcode id_manager">## Manager</strong>
            <img src="/static/images/managericon.gif" alt="Manager Icon" title="This user is a 4chan Manager." class="identityIcon retina">
        {% endif %}
        {% if thread.capcode == 'V' %}
            <strong class="capcode id_verified">## Verified</strong>
        {% endif %}
    </span>
    <span class="poster_hash"></span>
    <br/>
    <time datetime="{{ thread.ts_unix }}">{{ format_ts(thread.ts_unix) }}</time>
    <span class="post_number">
        <a href="/{{ thread.board_shortname }}/thread/{{ thread.num }}#p{{ thread.num }}" data-function="highlight" data-post="{{ thread.num }}">No. {{ thread.num }}</a>
    </span>

</div>

<a href="/{{ thread.board_shortname }}/thread/{{ thread.num }}" rel="noreferrer" target="{{html_link_target}}" class="thread_image_link" data-expand="true">

    {{get_img(thumb_uri, image_uri, thread, classes="thumb thread_image", expand_media=False)}}

</a>

{% if thread.sticky or thread.locked %}
    <div class="threadIcons">
        {% if thread.sticky %}
            <span title="Sticky" class="threadIcon stickyIconCatalog"></span>
        {% endif %}
        {% if thread.locked %}
            <span title="Closed" class="threadIcon closedIconCatalog"></span>
        {% endif %}
    </div>
{% endif %}

<div class="meta">
    Replies: <b>{{ thread.nreplies }}</b> / Images: <b>{{ thread.nimages }}</b> / Posters: <b>
        {% if thread.nposters %}
            {{thread.nposters}}
        {% else %}
            ?
        {% endif %}
    </b>
</div>

<div class="teaser">
    {% if thread.title %}
        <span class="post_title">{{thread.title}}</span>:
    {% endif %}
    {{thread.comment}}
</div>

</div>