{% from 'macros.html' import poster_heading, capcode_author, get_img %}

<div id="{{ thread.num }}" class="thread doc_id_{{ thread.num }}"
     style="max-width: 300px; max-height: 375px; overflow: hidden; text-align: center;" tabindex="0">
    <div class="post_data">
        <span class="post_controls">
            [<a href="/{{ thread.board_shortname }}/thread/{{ thread.num }}" class="btnr parent" target="{{html_link_target}}">View</a>]
            [<a href="https://boards.4chan.org/{{ thread.board_shortname }}/thread/{{ thread.num }}" class="btnr parent" rel="noreferrer" target="_blank" >Source</a>]
        </span>
        <br/>
        <time datetime="{{ thread.ts_unixepoch }}">{{ thread.ts_formatted }}</time>
        <span class="post_number">
            <a href="/{{ thread.board_shortname }}/thread/{{ thread.num }}#p{{ thread.num }}" data-function="highlight" data-post="{{ thread.num }}">No. {{ thread.num }}</a>
        </span>
    </div>
    <a href="/{{ thread.board_shortname }}/thread/{{ thread.num }}" rel="noreferrer" target="{{html_link_target}}" class="thread_image_link" data-expand="true">

        {{get_img(thumb_uri, image_uri, thread, classes="thumb thread_image", expand_media=False)}}

    </a>
    <div class="teaser">
        {% if thread.title %}
            <span class="post_title">{{thread.title | safe}}</span>:
        {% endif %}
        {{thread.comment | safe}}
    </div>
</div>