{% from 'macros.html' import render_field %}

<form action="" id="searchform" method="post" class="form" role="form">
    <div class="row">
        <div class="column">
            {{ render_field(form.search_mode) }}
            {{ render_field(form.order_by) }}
        </div>
        <div class="column">
            {{ render_field(form.num) }}
            {{ render_field(form.title) }}
            {{ render_field(form.comment) }}
        </div>
        <div class="column">
            {{ render_field(form.media_filename) }}
            {{ render_field(form.media_hash) }}
            {{ render_field(form.date_after) }}
            {{ render_field(form.date_before) }}
        </div>
        <div class="column">
            {{ render_field(form.has_file) }}
            {{ render_field(form.has_no_file) }}
            {{ render_field(form.is_op) }}
            {{ render_field(form.is_not_op) }}
            {{ render_field(form.is_deleted) }}
            {{ render_field(form.is_not_deleted) }}
            {{ render_field(form.is_sticky) }}
            {{ render_field(form.is_not_sticky) }}
        </div>
        <div class="column">
            {{ render_field(form.width) }}
            {{ render_field(form.height) }}
            {{ render_field(form.user) }}
            {{ render_field(form.result_limit) }}
        </div>
    </div>
    <div class="row">
        <div class="column">
            {{ render_field(form.boards) }}
            {% include 'board_buttons.html' %}
        </div>
    </div>
    <div>{{ render_field(form.submit) }}</div>
</form>