{% from 'bootstrap5/form.html' import render_form %}
{% from 'macros.html' import table, card %}

{% extends 'layout.html' %}

{% block body %}

  <div class="d-flex">
    <div class="align-self-center me-auto">Logged in as <span class="fw-bold">{{current_user}}</span></div>
    <div class=""><a href="/logout"><button class="btn btn-md btn-danger mt-2">Logout</button></a></div>
  </div>

  <div class="card text-bg-dark mt-2 border-secondary">
    <div class="card-header border-secondary">
      Post Search
    </div>
    <div class="card-body col-md-6">

    </div>
  </div>

{% endblock %}
