{% extends "base.html" %}
{% block body %}

    <div id="index" style="margin: 30px;">
        {% if board_objects %}
            <h2>Boards</h2>
            <ul style="list-style: none;">
                <li>
                    {% for board_object in board_objects %}
                        <h3>
                            <a href="/{{ board_object.shortname }}/catalog">/{{ board_object.shortname }}/ {{ board_object.name }}</a>
                        </h3>
                    {% endfor %}
                </li>
            </ul>
        {% endif %}
    </div>

{% endblock %}
