{% extends "base.html" %}
{% block body %}
<div class="center mt-1">
    <img id="logo" src="{{url_for('static', filename=logo_filename)}}"/>
</div>

{% if archiveposting_conf['enabled'] %}
<div class="mw1000 mauto">
<h3>{{site_name}}</h3>
<ul class="ul3col">
    <li><a href="/{{ archiveposting_conf['board_name'] }}/catalog">/{{archiveposting_conf['board_name']}}/</a></li>
</ul>
</div>
{% endif %}

{% if board_objects %}
<div class="mw1000 mauto">
    <h3>{{canonical_name}}</h3>
    <ul class="ul3col">
        {% for board_object in board_objects %}
            <li>
                <a href="/{{ board_object.shortname }}/catalog">/{{ board_object.shortname }}/ - {{ board_object.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
