{% macro render_field(field) %}
    <div class="form-control">
        {% if field.name != 'submit' %}
            {{ field.label }}
        {% endif %}

        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% extends "base.html" %}

{% block body %}

  <h2>{{site_name}} - Index Search Configuration</h2>
  <form action="" id="index_search_config_form" method="post" class="form" role="form">
    {{ form.csrf_token() }}

    <div class="row">
      <div class="column">
        <div><b>{{ msg }}</b></div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div>The message above will change when an action is completed. Don't refresh this page until then.</div>
        <div>Note: You can use the cli module to perform these steps. Got to `src` and run `python3.12 -m search`.</div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="column">
        {{ render_field(form.operation)}}
      </div>
      <div class="column">
        {{ render_field(form.boards) }}
        {% include 'board_buttons.html' %}
      </div>
    </div>
    <div>{{ render_field(form.submit) }}</div>

  </form>

{% endblock %}