{{ t_header }}
<div class="postInfoM mobile" id="pim{{num}}">
    {{ t_sub }}
    {{ t_mobile }}
</div>
{% if op_num == 0 %}
    {{t_media}}
{% endif %}
<div class="postInfo desktop" id="pi{{num}}">
    <b>/{{board_shortname}}/</b>
    {% if op_num == 0 %}
        <strong style="color: #4da57c;">OP</strong>
    {% endif %}
    {{ t_filedeleted }}
    {{ t_sub }}
    <span class="nameBlock {{ t_cc_class }}">
        {{t_name}}
        {{t_cc}}
    </span>
    {{ t_poster_hash }}
    {{ t_since4pass }}
    {{ t_country }}
    {{ t_troll_country }}
    <span class="dateTime" data-utc="{{ts_unixepoch}}">{{format_ts(ts_unixepoch)}}</span>
    <span class="postNum desktop">
        <a href="{{t_post_link}}">No.{{num}}</a>
        {% if op_num == 0 %}
            {{ t_sticky }}
            {{ t_closed }}
        {% endif %}
    </span>
    <span class="postMenuBtn" title="Post menu" data-cmd="post-menu">▶</span>
    [<a href="{{t_post_link if op_num else t_thread_link}}">View</a>]
    {{ t_quotelink }}
</div>
{% if op_num %}
    {{t_media}}
{% endif %}
<blockquote class="postMessage" id="m{{num}}">{{comment or ''}}</blockquote>
</div>
</div>
