{% extends "base.html" %}

{% block body %}

  <h2>{{site_name}} Search</h2>

  {% include 'form_search.html' %}

  <div>
    {% if res_count %}
      <h3>Showing <b>{{res_count}}</b> / {{total_hits}} results</h3>
      <div class="board">
        {% if not gallery_mode %}
          {{ posts_t|safe }}
        {% else %}
          <div class="row">
            {{ posts_t|safe }}
          </div>
        {% endif %}
      </div>
    {% else %}
      {% if searched %}
        <h3>0 results found!</h3>
      {% endif %}
    {% endif %}

    {% if page_links %}
      <div class="mt">Result Pages</div>
      {{ page_links|safe }}
    {% endif %}
  </div>

{% endblock %}