{% from 'bootstrap5/form.html' import render_field %}

{% extends "base.html" %}

{% block body %}

  <h2>{{site_name}} Search</h2>
  
  {% include 'form_search.html' %}

  <div>
    {% if posts %}
      <h3>Found <b>{{posts|length}}</b> results!</h3>
      <div class="board">
        {% if search_mode == 'index' %}
			{% for post in posts %}
				{% include 'index_search_post.html' %}
			{% endfor %}
        {% else %}
          {% include 'gallery.html' %}
        {% endif %}
      </div>
    {% else %}
      {% if searched %}
        <h3>0 results found!</h3>
      {% endif %}
    {% endif %}
  </div>

{% endblock %}