{% from 'macros.html' import render_field %}

{% extends 'base.html' %}

{% block body %}

  {% if not is_admin and not is_moderator and not is_logged_in %}
    <div class="mt-2 card">
      <h3>
        Administrator Login
      </h3>
      <div class="card-body">

        <form id="login_form" action="{{url_for('blueprint_auth.login')}}" method="post" novalidate=True>
          {{ form.csrf_token() }}
          {{ render_field(form.username) }}
          {{ render_field(form.password) }}

          <div style="display: flex;">
            {{ render_field(form.captcha_id) }}
            <img style="align-self: center;" src="data:image/jpeg;base64,{{form.captcha_b64_img_str}}"/>
            {{ render_field(form.captcha_answer, placeholder='Solution') }}
          </div>

          {{ render_field(form.submit, button_style="btn btn-md btn-primary mt-2") }}
        </form>

      </div>
  {% else %}
    <p>User currently logged in.</p>
  {% endif %}

{% endblock %}
