{%- macro table(list_of_dicts) -%}
  <table style="border-collapse: collapse; font-family: Arial, sans-serif;">
    <thead>
      <tr>
        {%- for col in list_of_dicts[0].keys() -%}
          <td style="border: 0.5px solid #585858; padding: 8px; text-align: left;"><b>{{ col }}</b></td>
        {%- endfor -%}
      </tr>
    </thead>
    <tbody>
      {%- for row in list_of_dicts -%}
        <tr>
          {%- for col in row.keys() -%}
            <td style="border: 0.5px solid #585858; padding: 8px; max-width: 80ch; word-wrap: break-word; text-align: left;">{{ row[col] }}</td>
          {%- endfor -%}
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
{%- endmacro -%}


{%- macro capcode_author(capcode) -%}
  {%- set capcode_map = {'A': 'capcodeAdmin', 'F': 'capcodeFounder', 'M': 'capcodeMod', 'D': 'capcodeDeveloper', 'G': 'capcodeManager', 'V': 'capcodeVerified'} -%}
  {{ capcode_map[capcode] }}
{%- endmacro -%}

{%- macro poster_heading(thread) -%}
  {%- set verified = 'capcodeVerified' if thread.code == 'V' else '' -%}
  {%- set exif = 'title="Exif: ' + thread.exif + '"' if thread.exif else '' -%}

  <span class="poster {{ capcode_author[thread.capcode] }}">Posted by
    <span class="name post_author {{ capcode_map[code] }} {{ verified }}" {{ exif }}>{{ thread.name }}</span>
  </span>
{%- endmacro -%}

{%- macro thread_stats(post) -%}
  <div class="thread-stats">
    {%- if post.sticky -%} Sticky / {%- endif -%}
    {%- if post.closed -%} Closed / {%- endif -%}
    <span class="ts-replies" data-tip="Replies" title="Replies">{{post.replies}}</span>
    /
    <span class="ts-images" data-tip="Images" title="Files">{{post.images}}</span>
    /
    <span data-tip="Posters" class="ts-ips" title="Posters">
      {%- if post.posters -%} {{post.posters}} {%- else -%} ? {%- endif -%}
    </span>
  </div>
{%- endmacro -%}


{%- macro get_image_src(thumb_uri, image_uri, board_shortname, post, is_video=False) -%}
  {%- if thumb_uri or image_uri -%}

    {%- set fname_thumb = (post.asagi_preview_filename|string) -%}
    {%- set fname_img = (post.asagi_filename|string) -%}

    {%- if thumb_uri and not is_video -%}

      {%- set url = (thumb_uri.format(board_shortname=board_shortname) + "/" + fname_thumb[0:4] + "/" + fname_thumb[4:6] + "/" + fname_thumb) -%}

    {%- else -%}

      {%- set url = (image_uri.format(board_shortname=board_shortname) + "/" + fname_img[0:4] + "/" + fname_img[4:6] + "/" + fname_img) -%}

    {%- endif -%}

    {{url}}

  {%- else -%}
    {{'ddddd'}}
  {%- endif -%}
{%- endmacro -%}


{%- macro get_image_src_on_error(thumb_uri, image_uri, board_shortname, post, change_media_url=True, is_video=False) -%}
  {%- if thumb_uri or image_uri -%}

    {%- set fname_thumb = (post.asagi_preview_filename|string) -%}
    {%- set fname_img = (post.asagi_filename|string) -%}

    {%- if image_uri -%}

      {%- set url = (image_uri.format(board_shortname=board_shortname) + "/" + fname_img[0:4] + "/" + fname_img[4:6] + "/" + fname_img) -%}

    {%- else -%}

      {%- set url = (thumb_uri.format(board_shortname=board_shortname) + "/" + fname_thumb[0:4] + "/" + fname_thumb[4:6] + "/" + fname_thumb) -%}

    {%- endif -%}

    {%- if change_media_url and not is_video -%}
      {{"this.onerror=null;this.parentElement.href='{url}';this.src='{url}';".format(url=url)}}
    {%- elif change_media_url and is_video -%}
      {{"this.onerror=null;this.children[0].src='{url}';this.src='{url}';".format(url=url)}}
    {%- else -%}
      {{"this.onerror=null;this.src='{url}';".format(url=url)}}
    {%- endif -%}

  {%- else -%}
    {{''}}
  {%- endif -%}
{%- endmacro -%}


{%- macro get_image_or_video(thumb_uri, image_uri, post, change_media_url=True, classes="", video_ok=False) -%}
    {% if post.ext == 'webm' and video_ok and image_uri %}
        <video
            class="{{classes}}"
            style="max-width: 400px; max-height: 400px;"
            controls
            onloadstart="{{'this.parentElement.href=this.children[0].src;this.onload=null;' if change_media_url else ''}}"
            onerror="{{get_image_src_on_error(thumb_uri, image_uri, post.board_shortname, post, change_media_url=change_media_url, is_video=True)}}">

            <source src="{{get_image_src(thumb_uri, image_uri, post.board_shortname, post, is_video=True)}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% else %}
        {% if post.ext != 'webm' %}
          {%- set image_uri = None -%}
        {% endif %}
        <img
          src="{{get_image_src(thumb_uri, image_uri, post.board_shortname, post, is_video=False)}}"
          class="{{classes}}"
          data-md5="{{ post.md5 }}"
          width="{{ post.tn_w }}"
          height="{{ post.tn_h }}"
          loading="lazy"
          onerror="{{get_image_src_on_error(thumb_uri, image_uri, post.board_shortname, post, change_media_url=change_media_url, is_video=False)}}"
          onload="{{'this.parentElement.href=this.src;this.onload=null;' if change_media_url else ''}}"
        />
    {% endif %}
{%- endmacro -%}
