{% extends "base.html" %}
{% from 'macros/macros.html' import render_field %}
{% block body %}
<div class="mw800 mauto">
<div><img id="banner" src="{{url_for('static', filename='logo.png')}}"/></div><br>
<form action="" id="messageform" method="post" role="form" autocomplete="off">
    <div class="form inlinegrid">
        <h3 class="center">Message to Admins</h3>
            {{form.csrf_token()}}
            {{ render_field(form.title, class='w240') }}
            {{ render_field(form.comment, class='w240') }}
            {{ render_field(form.captcha_id) }}
            <img width="65px" src="data:image/jpeg;base64,{{form.captcha_b64_img_str}}"/>
            {{ render_field(form.captcha_answer, placeholder='Solution', class='center') }}
        <div class="mtb-1"><input id="submit" name="submit" type="submit" value="Submit"></div>
    </div>
</form>
</div>
{% endblock %}