{% if post.resto == 0 %}
    <div class="postContainer opContainer" id="pc{{post.no}}">
{% else %}
    <div class="postContainer replyContainer" id="pc{{post.no}}">
{% endif %}

    <div class="sideArrows" id="sa{{post.no}}">&gt;&gt;</div>

    {% if post.resto == 0 %}
        <div id="p{{post.no}}" class="post op">
    {% else %}
        <div id="p{{post.no}}" class="post reply">
    {% endif %}

        <div class="postInfoM mobile" id="pim{{post.no}}">
            <span class="nameBlock">
                <span class="name">{{post.name}}</span>
                <br>
            </span>
            <span class="dateTime postNum" data-utc="{{post.time}}">
                {{post.now}}
                <a href="#{{post.num}}" title="Link to this post">No.</a>
                <a href="javascript:quote('{{post.no}}');" title="Reply to this post">{{post.no}}</a>
            </span>
        </div>
        <div class="postInfo desktop" id="pi{{post.no}}">
            <input type="checkbox" name="{{post.no}}" value="delete">
            <span class="nameBlock">
                <span class="name">{{post.name}}</span>
            </span>
            <span class="dateTime" data-utc="{{post.time}}">{{post.now}}</span>
            <span class="postNum desktop">
                <a href="#p{{post.no}}" title="Link to this post">No.</a>
                <a href="javascript:quote('{{post.no}}');" title="Reply to this post">{{post.no}}</a>
            </span>
            <a href="#" class="postMenuBtn" title="Post menu" data-cmd="post-menu">▶</a>
            <div id="bl_{{post.no}}" class="backlink">
                {% for quotelink in quotelinks[post.no|string] %}
                    <span class="quotelink">
                        <a href="#p{{ quotelink }}" class="quotelink">&gt;&gt;{{ quotelink }}</a>
                    </span>
                {% endfor %}
            </div>
        </div>
        {% if post.filename %}
        <div class="file" id="f{{post.no}}">
            <div class="fileText" id="fT{{post.no}}">
                File:
                <a href="{{ thumb_uri }}/{{ (post.asagi_preview_filename|string)[0:4] }}/{{ (post.asagi_preview_filename|string)[4:6] }}/{{ post.asagi_preview_filename}}" target="_blank">
                    {{post.filename}}.{{post.ext}}
                </a>
                ({{(post.fsize / 1024 )| round(1, 'floor')}} KB, {{post.w}}x{{post.h}})
            </div>
            <a class="fileThumb" href="{{ image_uri }}/{{ (post.asagi_filename|string)[0:4] }}/{{ (post.asagi_filename|string)[4:6] }}/{{ post.asagi_filename}}" target="_blank">
                <img src="{{ thumb_uri }}/{{ (post.asagi_preview_filename|string)[0:4] }}/{{ (post.asagi_preview_filename|string)[4:6] }}/{{ post.asagi_preview_filename}}" data-md5="{{post.md5}}" style="height: {{post.tn_h}}px; width: {{post.tn_w}}px;" loading="lazy">
            </a>
        </div>
        {% endif %}
        <blockquote class="postMessage" id="m{{post.no}}">{{post.com|safe}}</blockquote>
    </div>
</div>