{% from 'macros/macros.html' import table %}
{% extends 'base.html' %}

{% block scripts -%}
{{ super() }}
<script type="text/javascript" src="/static/js/chart.js" defer crossorigin="anonymous" integrity="sha384-XcdcwHqIPULERb2yDEM4R0XaQKU3YnDsrTmjACBZyfdVVqjh6xQ4/DCMd7XLcA6Y"></script>
<script type="text/javascript" src="/static/js/stats.js" defer crossorigin="anonymous" integrity="sha384-EWVNsKaXoOFeEsXriSjurSwM8kI5ZcD4r1AVKWzRDusKSwziGDpUf9MMwhxMxF+6"></script>
{% endblock %}

{% block body %}
<div class="mw1000 mauto">
  <div>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}" />
  </div>
  <h2>Archive Posts per Month</h2>
  <p>Note: fraction-of-posts-archived values are rough estimates. They are simply calculated by doing: <span class="codetext">number_of_posts_archived / [max_post_num - min_post_num]</span>.</p>
  <div style="margin-bottom: 10px;">
    <button id="select-random" class="form_btn pbtn">Random</button>
    <button id="clear-all" class="form_btn pbtn">Clear</button>
  </div>

  <div id="board-buttons" style="display: flex; flex-wrap: wrap; gap: 8px;">
    {% for board_object in board_objects %}
    <button class="board-toggle form_btn pbtn" data-board="{{ board_object.shortname }}">/{{ board_object.shortname }}/</button>
    {% endfor %}
  </div>

  <div id="loading" style="display: none; text-align: center; margin-top: 1em; background-color: #1b774c;">Loading...</div>

  <canvas id="activityChart" style="max-width: 98%; margin: 2em; background-color: #dbc3c3; border-radius: 4px;"></canvas>
</div>
{% endblock %}