{% from 'macros.html' import table %}

{% extends 'base.html' %}

{% block body %}

  <div>
    <h2>Archive Stats</h2>

    <div>
      <h3>Database</h3>
      <p>
        {{ table(database_storage_size) }}
      </p>
      <p>
        {{ table(database_table_storage_sizes) }}
      </p>
    </div>

    <div>
      <h3>Filesystem</h3>

      <h4>Directory Size</h4>
      <p>You can run the following on your media directory: <code>du -h -d 1</code></p>

      <h4>File Count</h4>
      <p >You can run the following on your media directory: <code>du -a | cut -d/ -f2 | sort | uniq -c | sort -nr</code></p>

    </div>
  </div>
{% endblock %}
