{% extends "base.html" %}

{% block scripts -%}
	{{ super() }}
	<script type="text/javascript" src="/static/js/thread.js" defer integrity="sha384-5aKdJ6X2ka3CsYzTEiiXB4BT/VjRI6uobajpsxCh3o82t6tMZ1nRRzhlcmTlHYXS"></script>
{% endblock %}

{% block body %}
    <div id="main">
        <div id="tools" data-board="{{board}}" data-thread_num="{{thread_num}}"></div>
        <div class="board">
            Replies: {{nreplies}} Files: {{nimages}}
            {{posts_t}}
        </div>
    </div>
{% endblock %}