{% extends "base.html" %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="/static/js/thread.js" defer></script>
{% endblock %}

{% block body %}
    {% include 'archiveposting_form.html' %}
    <div id="main">
        <div id="tools" data-board_shortname="{{board}}" data-thread_num="{{thread_num}}"></div>
        {% if vox_enabled %}<div id="vox"></div>{% endif %}
        <div class="board">
            Replies: {{nreplies}} Files: {{nimages}}
            {{posts_t}}
        </div>
    </div>
{% endblock %}