{% extends 'base.html' %}

{% block body %}
    <a href="{{ url_for('bp_admin.users_index') }}">Back to Users</a>

    <form action="{{ url_for('bp_admin.users_create') }}" method="post">
        {{ form.csrf_token() }}
        <p><label for="{{ form.username.id }}">{{ form.username.label }}</label>{{ form.username() }}</p>
        <p><label for="{{ form.password.id }}">{{ form.password.label }}</label>{{ form.password() }}</p>
        <p><label for="{{ form.role.id }}">{{ form.role.label }}</label>{{ form.role() }}</p>
        <p><label for="{{ form.active.id }}">{{ form.active.label }}</label>{{ form.active() }}</p>
        <p><label for="{{ form.notes.id }}">{{ form.notes.label }}</label>{{ form.notes() }}</p>
        <button type="submit">Create</button>
    </form>

{% endblock %}
