{% extends 'base.html' %}

{% block body %}
    <a href="{{ url_for('bp_web_admin.users_index') }}">Back to Users</a>

    <form action="{{ url_for('bp_web_admin.users_edit', user_id=user.user_id) }}" class="form" method="post">
        {{ form.csrf_token() }}

        <strong>Username:</strong> {{ user.username }}
        <p><strong>Created At:</strong> {{ user.created_at }}</p>
        <p><strong>Last Login:</strong> {{ user.last_login_at }}</p>

        <p><label for="{{ form.password_cur.id }}">{{ form.password_cur.label }}</label>{{ form.password_cur() }}</p>
        <p><label for="{{ form.password_new.id }}">{{ form.password_new.label }} [Optional]</label>{{ form.password_new() }}</p>
        <p><label for="{{ form.is_admin.id }}">{{ form.is_admin.label }}</label>{{ form.is_admin() }}</p>

        <p>{{ form.permissions.label }}
            <label for="{{ form.permissions.id }}">
            <button class="btn inline p4" id="select_all">Check All</button>
            <br>
            </label>{{ form.permissions() }}
        </p>

        <p><label for="{{ form.is_active.id }}">{{ form.is_active.label }}</label>{{ form.is_active() }}</p>
        <p><label for="{{ form.notes.id }}">{{ form.notes.label }}</label>{{ form.notes() }}</p>
        <button class="btn mb-2" type="submit">Save</button>
    </form>

    <script type="text/javascript" defer src="/static/js/admin_users.js" integrity="sha384-bhVs400cgCHNKNyDp6Q+fYumFlKvfhDXk6GOOFHA5OUqEH7axIaaXcRXKJFxNx94"></script>

{% endblock %}