{{ t_header }}
<div class="postInfo desktop" id="pi{{num}}">
    <b>/{{board_shortname}}/</b>
    {% if num == thread_num %}
        <strong class="op_label">OP</strong>
    {% endif %}
    {{ t_filedeleted }}
    {{ t_sub }}
    <span class="nameBlock {{ t_cc_class }}">
        {{t_name}}
        {{t_cc}}
    </span>
    {{ t_poster_hash }}
    {{ t_since4pass }}
    {{ t_country }}
    {{ t_troll_country }}
    <span class="dateTime" data-utc="{{ts_unix}}">{{format_ts(ts_unix)}}</span>
    <span class="postNum desktop">
        <a href="{{t_post_link_rel}}">No.{{num}}</a>
        {% if num == thread_num %}
            {{ t_sticky }}
            {{ t_closed }}
        {% endif %}
    </span>
    <button class="btnlink copy_link" data-link="{{t_post_link_rel}}">©</button>
    <span class="inblk">
    {{ t_report }}
    [<a href="{{t_post_link_rel if num == thread_num else t_thread_link_rel}}" target="_blank">View</a>]
    [<a href="{{t_post_link_src if num == thread_num else t_thread_link_src}}" rel="noreferrer" target="_blank">Source</a>]
    </span>
    {{ t_quotelink }}
</div>
{% if num == thread_num %}
    {{t_media}}
{% endif %}
<blockquote class="postMessage" id="m{{num}}">{{comment or ''}}</blockquote>
</div>
</div>
