{% extends "base.html" %}
{% from 'macros/macros.html' import render_field %}

{% block scripts -%}
	{{ super() }}
	<script type="text/javascript" defer src="/static/js/thread.js" integrity="sha384-cthqILLDUUP6xf82AmpVTicAfNYIbHTxZtJGUxyA6hZnHIeG6A9FnilfcdTVcJ9t"></script>
	<script type="text/javascript" defer src="/static/js/search.js" integrity="sha384-3dsROq8pg2vFVERuypB0CBhul5U1iXQQC203kNUzmrycWSefdpyc2kN1Ha6k8vPi"></script>
{% endblock %}

{% block body %}
<div class="search_container">
  <div class="sticky_top mvh">
  <div>{{html_search_memo|safe}}</div>
  <form action="" id="searchform" method="get" role="form" autocomplete="off" enctype="multipart/form-data">
    <div class="form">
      <div class="mtb-1 center"><input id="submit" name="submit" type="submit" value="y"></div>
      <div class="row">
        <div class="column">
          {{ render_field(form.gallery_mode, title='Displays a mosaic of images.') }}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {{ render_field(form.title, placeholder='Post Subject', class='w240') }}
          {{ render_field(form.comment, placeholder='Post Comment') }}
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="border mtb-1">
            Search results must have OPs where...
            {{ render_field(form.op_title, placeholder='OP Subject', class='w240') }}
            {{ render_field(form.op_comment, placeholder='OP Comment') }}
          </div>
        </div>
      </div>
      <div class="row pb3">
        <div class="field_label w3em">Start</div>{{ form.date_after }}
      </div>
      <div class="row pb3">
        <div class="field_label w3em">End</div>{{ form.date_before }}
      </div>
      <div class="row">
        <div class="column">
          {% if form.boards.type == 'MultiCheckboxCSVField' %}
          <div class="mb05 d-flex">
            <div class="field_label">Boards</div>
            <button type="button" class="form_btn pbtn check_all_boards">All</button>
            <button type="button" class="form_btn pbtn uncheck_all_boards">None</button>
          </div>
          {% else %}
          <div class="field_label">Boards</div>
          {% endif %}
          {{ render_field(form.boards) }}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {{ render_field(form.tl, placeholder='Length', class='w5em') }}
          {{ render_field(form.cl, placeholder='Length', class='w5em') }}
        </div>
        <div class="column">
          {{ render_field(form.tlop, class='w5em btn') }}
          {{ render_field(form.clop, class='w5em btn') }}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {{ render_field(form.has_file) }}
          {{ render_field(form.has_no_file) }}
        </div>
        <div class="column">
          {{ render_field(form.is_op) }}
          {{ render_field(form.is_not_op) }}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {{ render_field(form.is_deleted) }}
          {{ render_field(form.is_not_deleted) }}
        </div>
        <div class="column">
          {{ render_field(form.is_sticky) }}
          {{ render_field(form.is_not_sticky) }}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {{ render_field(form.width, placeholder='Width', class='w5em') }}
          {{ render_field(form.height, placeholder='Height', class='w5em') }}
        </div>
        <div class="column">
          {{ render_field(form.wop, class='w5em btn') }}
          {{ render_field(form.hop, class='w5em btn') }}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {{ render_field(form.hits_per_page, placeholder='Per board', class='w5em') }}
        </div>
        <div class="column">
          {{ render_field(form.capcode, class='w5em btn') }}
        </div>
      </div>

        <div class="row">
          <div class="column">
            {{ render_field(form.num, placeholder='Post Num', class='w5em') }}
            {{ render_field(form.tripcode, placeholder='Tripcode', class='w5em') }}
          </div>
          <div class="column">
            {{ render_field(form.media_filename, placeholder='Filename', class='w5em') }}
            {{ render_field(form.media_hash, placeholder='MD5 Hash', class='w5em') }}
            <div id="drop_zone">Select/Drop File</div>
            <input id="media_hash_file_input" class="hidden" type="file" accept=".jpg,.jpeg,.png,.gif,.webm,.mp4" />
          </div>
        </div>
        {{ render_field(form.order_by) }}
        {{ search_plugin_html|safe }}
        <div class="mtb-1 center"><input id="submit" name="submit" type="submit" value="y"></div>
      </div>
  </form>
  </div>

  <div id="resulttop">
    {% if page_post_count %}
      {{yield_message|safe}}<br>On this page: {{page_post_count}}
      {% if page_links %}<br>Pages{{ page_links|safe }}{% endif %}
    {% endif %}
    {% if page_post_count %}
      <div class="board">
        {% if not gallery_mode %}{{ posts_t|safe }}{% else %}<div class="row">{{ posts_t|safe }}</div>{% endif %}
      </div>
    {% else %}
      {% if searched %}
        {{yield_message|safe}}
      {% endif %}
    {% endif %}
    {% if page_links %}
      <div class="mt">Pages</div>
      {{ page_links|safe }}
    {% endif %}
  </div>
</div>
{% endblock %}