html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    background: #1d1f21 none;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px
}

html,
body {
    color: #dddddd !important;
}

#quote-preview {
    display: block;
    position: absolute;
    top: 0;
    padding: 3px 6px 6px 3px;
    margin: 0;
}

#quote-preview .dateTime {
    white-space: nowrap;
}

#quote-preview.reveal-spoilers s {
    background-color: #aaa !important;
    color: inherit !important;
    text-decoration: none !important;
}

#quote-preview.reveal-spoilers s a {
    background: transparent !important;
    text-decoration: underline;
}

div.opContainer {
    display: inline
}

div.sideArrows {
    color: #c5c8c6;
    float: left;
    margin-right: 2px;
    margin-top: 0;
    margin-left: 2px
}

div.thread,
.clear_both {
    margin: 0;
    clear: both;
}

div.post {
    margin: 4px 0;
    overflow: hidden
}

div.thread>div:nth-of-type(2)>div.reply {
    margin-top: 2px !important
}

div.op {
    display: inline;
}

div.reply {
    background-color: #282a2e;
    border: 1px solid #282a2e;
    display: table;
    padding: 2px
}

div.reply input {
    float: none
}

div.post div.postInfo {
    display: block;
    width: 100%
}

div.post div.postInfo span.postNum a:hover,
.posteruid .hand:hover {
    color: #5f89ac !important
}

div.post div.postInfo span.nameBlock {
    display: inline-block
}

div.post div.postInfo span.nameBlock span.name {
    color: #c5c8c6;
    font-weight: 700
}

div.post div.postInfo span.nameBlock span.postertrip {
    color: #c5c8c6;
    font-weight: 400 !important
}

div.post div.postInfo span.subject {
    color: #b294bb;
    font-weight: 700
}

div.post blockquote.postMessage {
    display: block
}

blockquote>span.quote {
    color: #b5bd68
}

.quoteLink,
.quotelink,
.deadlink {
    color: #5f89ac !important;
    text-decoration: underline
}

a.quoteLink:hover,
a.quotelink:hover {
    color: #81a2be !important
}

a,
a:visited {
    color: #81a2be !important;
    text-decoration: none
}

a.replylink:not(:hover),
div#absbot a:not(:hover) {
    color: #81a2be !important
}

a:hover {
    color: #5f89ac !important
}

div.post div.file .fileThumb img {
    border: none;
    float: left
}

div.post div.file {
    display: block
}

div.post div.file div.fileInfo {
    margin-right: 10px;
    word-break: break-all
}

div.replyContainer div.post div.file div.fileInfo {
    margin-left: 20px
}

div.post div.file .fileThumb {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px
}

span.fileThumb {
    margin-left: 0 !important;
    margin-right: 5px !important
}

div.reply span.fileThumb,
div.reply span.fileThumb img {
    float: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

div.post div.file .fileThumb img {
    border: none;
    float: left
}

span.summary {
    color: #707070;
    margin-top: 10px
}

#body {
    min-height: 95vh;
}

footer {
    max-height: 5vh;
    bottom: 0;
    margin: 10px;
    text-align: center;
}

.center {
    margin: auto;
    text-align: center;
}

.mauto {
    margin: auto;
}

.post_title {
    font-weight: 700;
    color: #b294bb;
}

.post_author {
    font-weight: 700;
}

.post_trip {
    font-weight: 400 !important;
    color: inherit;
}

.paginate ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.paginate ul li {
    display: inline-block;
    list-style: none;
    padding: 2px;
}

.paginate {
    width: 500px;
    max-width: 95%;
}

#threads {
    text-align: center;
}

#catalog_threads>.thread {
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 0 3px;
    position: relative;
    width: 270px;
    max-height: 410px;
}

#catalog_threads {
    padding: 0 1em;
    text-align: center;
}

#catalog_threads>.thread:focus {
    overflow-y: auto;
    height: auto;
    position: relative;
}

table {
    display: table;
    border-collapse: collapse;
    margin: 2px;
}

td,
th {
    padding: 1em;
    border: 0.5px solid #585858;
    padding: 8px;
    text-align: left;
    max-width: 80ch;
    word-wrap: break-word;
}

td {
    vertical-align: top;
}

span.subject {
    color: #b294bb;
    font-weight: 700;
}

.mt {
    margin-top: 2em;
}

.form {
    border: 1px solid #494949;
    padding: 2px 1em 0 1em;
    margin: 2px;
    background-color: #222222;
    border-radius: 4px;
    width: fit-content;
}

#drop_zone {
    border: 1px dashed #aaa;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

.inlinegrid {
    display: inline-grid;
}

.unset {
    all: unset;

}

.click,
.btnlink {
    border: none;
    background: none;
    color: #81a2be;
    cursor: pointer;
    filter: none;
    text-decoration: none;
}

.btnlink {
    text-decoration: underline;
    font-size: small;
}

.btnlink:hover,
.click:hover {
    color: #5f89ac !important
}

ul {
    list-style: none;
}

.liststyle {
    list-style: disc;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stat_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.column {
    flex-direction: column;
}

.pb-3 {
    padding-bottom: 3px;
}

.btn,
.form_button {
    width: max-content;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #282a2e;
    border: 1px solid #666666;
    color: #dddddd;
    cursor: pointer;
    filter: none;
}

.rbtn {
    background-color: inherit;
    border: none;
    color: #81a2be;
    cursor: pointer;
    padding: 0;
    filter: none;
}

.rbtn:disabled {
    background-color: inherit;
    border: none;
    color: #727272 !important;
    cursor: default;
    padding: 0;
}

.actionform {
    border: none;
    background-color: inherit;
    color: #99bcd9 !important;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline;
}

hr {
    background-color: #666666;
    height: 1px;
    border: none;
}

code {
    color: #55d67c;
    white-space: pre;
    font-size: medium;
    overflow: scroll;
    width: min-content;
    display: block;
    border: 1px solid #717171;
    border-radius: 4px;
    margin: 3px 0 3px 0;
    padding: 0.5em;
    background-color: #1e1e1e;
    max-width: 70vw;
}

.codetext {
    color: #55d67c;
    background-color: #1e1e1e;
}

div.post blockquote.postMessage {
    word-break: break-word;
    margin-left: 1em;
    margin-right: 1em;
}

.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 90%;
    width: 800px;
}

.codecopybtn {
    padding: 5px;
    background-color: #5c7d99;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.codecopybtn:hover {
    background-color: #405d77;
}

.form-control {
    list-style: none;
    margin-bottom: 3px;
    display: flex;
}

.field_label {
    background-color: #414141;
    color: inherit;
    padding: 2px;
    width: 90px;
    border-radius: 4px;
}

.form ul {
    margin: 0;
    padding: 2px;
}

input[type=password] {
    width: unset;
}

input input[type=submit],
input[type=password],
input[type=number],
input[type=text],
input[type=date],
select,
option,
textarea {
    filter: none;
    margin: 0;
    padding: 2px;
}

select,
option {
    width: 5em;
    padding: 3px;
    text-align: center;
}

.form_btn,
input[type=submit],
input[type=password],
input[type=number],
input[type=text] {
    background-color: #282a2e;
    border: 1px solid #666666;
    color: inherit;
    filter: none;
}

input[type=submit] {
    width: 12em;
}

.w5em {
    width: 5em;
}

.w3em {
    width: 3.16em;
}

.w240 {
    width: 240px;
}

.h4em {
    height: 4em;
}

.hidden {
    display: none
}

.pb3 {
    padding-bottom: 3px;
}

.m1 {
    margin: 1px;
}

.mb05 {
    margin-bottom: 0.5em;
}

input[type=date] {
    background-color: #282a2e;
    border: 1px solid #666666;
    color: #dddddd;
}

input[type=submit],
.form_btn {
    background-color: #322680;
    padding: 4px 0px;
}

.form_btn:hover,
input[type=submit]:hover {
    cursor: pointer;
    background-color: #2c2177;
}

input[type=submit]:disabled {
    cursor: default;
    background-color: #2c2177;
}

input[type=password] {
    text-align: left;
}

.btn_submit {
    width: 240px;
    display: block;
    border: 1px solid #666666;
    color: inherit;
    cursor: pointer;
    margin-top: 1em;
    background-color: #2c2177;
    height: 2em;
    margin: 1em auto 0 auto;
}

textarea {
    width: 240px;
    height: 1ch;
    max-width: 90vw;
    max-height: 40vh;
    min-width: 2ch;
    min-height: 2ch;
    display: block;
    background-color: #282a2e;
    border: 1px solid #666666;
    color: #dddddd;
    font: inherit !important;
}

ul#boards {
    column-count: 5;
}

ul#order_by {
    column-count: 2;
}

#capcode {
    width: 5.5em;
}

input[type=checkbox],
input[type=radio] {
    margin: 0;
    filter: brightness(80%);
}

button {
    filter: none;
}

div.form-check {
    margin: 6px;
    padding-bottom: 6px;
}

.hl_cyan {
    background-color: #397070;
}

.hl_magenta,
.hl_magenta:hover {
    background-color: #70396c;
}

.hl_dark {
    background-color: #17191b;
}

textarea:focus,
input:focus {
    outline: 0;
}

.spoiler {
    opacity: 0.5;
}

.spoiler:hover {
    opacity: 1;
}

.thumb {
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.nofile {
    padding: 20px 36px;
    min-height: 0 !important;
}

.threadIcons {
    display: inline;
    height: 16px;
    margin: 2px 0 0 -33px;
    position: absolute;
    width: 32px;
    text-align: right;
}

.right {
    text-align: right;
}

.threadIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.stickyIconCatalog {
    background-image: url(/static/images/sticky.gif);
}

.closedIconCatalog {
    background-image: url(/static/images/closed.gif);
}

.warning {
    color: #c40000;
}

.green_bg {
    background-color: #217253;
}

.beige_bg {
    background-color: #a89b81;
}

.red_fg {
    color: red;
}

.poster {
    display: inline-block;
}

.pu-img .n-pu {
    background: url(/static/images/minileaf.gif) !important;
}

.m-2 {
    margin: 1em;
}

.m-0 {
    margin: 0em;
}

.m-1 {
    margin: 0.5em;
}

.mb-2 {
    margin-bottom: 1em;
}

.mtb-1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mt-1 {
    margin-top: 0.5em;
}

.d-flex {
    display: flex;
}

.rounded {
    border-radius: 4px;
}

.border {
    border: #8583ff solid 1px;
}

.imgsearchborder {
    border-top: #58ae6e solid 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.pb05 {
    padding-bottom: 0.5em;
}

.filesearchborder {
    border-top: #eaec48 solid 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#flash {
    background-color: #302ea1;
    color: inherit;
    padding: 1em;
    margin: 1em;
    border-radius: 4px;
}

.hover_image {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 50vw;
    max-height: 70vh;
    pointer-events: none;
}

img {
    cursor: pointer;
    max-width: 100%;
    max-height: 50vh;
}

.fileText {
    word-break: break-all;
    ;
}

#top {
    position: sticky;
    top: 2px;
    z-index: 1000;
}

#bottom {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1d1f21;
    padding: 4px;
}

#captcha_answer {
    width: 60px;
    padding: 2px;
    text-align: center;
}

#report_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

#modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#report_close {
    cursor: pointer;
    text-align: right;
}

#report_close:hover {
    text-decoration: underline;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal_title {
    font-size: 18px;
    font-weight: bold;
}

.op_label {
    color: #4da57c;
}

.inline {
    display: inline;
}

.p4 {
    padding: 4px;
}

.pbtn {
    padding: 2px 8px;
}

.disc {
    list-style: disc;
}

.block {
    display: block;
}

.inblk {
    display: inline-block;
}

button:disabled {
    cursor: default;
}

.search input {
    display: block;
    margin: 5px 0;
}

.filters label {
    display: block;
    margin: 5px 0;
    text-align: right;
}

label span {
    margin-right: 2px;
    font-size: small;
}

div.message {
    white-space: pre-wrap;
}

.filters input[type="range"] {
    vertical-align: middle;
    width: 80px;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: min-content;
}

.filters {
    display: table;
    margin: 0 auto;
}

.filters label {
    display: table-row;
    text-align: left;
}

.filters label span {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

#welcome {
    border-radius: 4px;
    filter: brightness(0.9);
}

#logo {
    max-width: 200px;
}

.search_container {
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: start;
}

.cover {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.sticky_top {
    position: sticky;
    top: 2em;
    align-self: start;
}

.cjpg {
    background-color: #7f0099;
}

.cpng {
    background-color: #b35700;
}

.cgif {
    background-color: #00ac6a;
}

.cmp4 {
    background-color: #0061e0;
}

.cwebm {
    background-color: #807700;
}

.mvh {
    max-height: 80vh;
    overflow-y: scroll;
}

h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #666666 transparent;
}

.ul3col {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(20, auto);
    gap: 0 1em;
}

.mw1000 {
    max-width: 1000px;
}

.mw800 {
    max-width: 800px;
}


@media (max-width: 1200px) {
    .sticky_top {
        position: static;
    }
}

@media (max-width: 900px) {
    .search_container {
        grid-template-columns: 90vw;
    }

    .ul3col {
        grid-template-rows: repeat(40, auto);
    }
}

@media (max-width: 800px) {
    .mvh {
        max-height: none;
        overflow-y: unset;
    }
}

@media (max-width: 420px) {
    .cover {
        width: 150px;
        height: 150px;
    }

    .form-control {
        list-style: none;
        margin-bottom: 3px;
        display: table;
    }

    .ul3col {
        grid-template-rows: repeat(100, auto);
    }
}