html, body {
    color: #dddddd!important;
}


#body {
    min-height: 95vh;
}

footer {
    max-height: 5vh;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.center {
    margin: auto;
    text-align: center;
}

.post_title {
    font-weight: 700;
    color: #b294bb;
}

.post_author {
    font-weight: 700;
}

.post_trip {
    font-weight: 400 !important;
    color: inherit;
}

.paginate ul {
    display: inline-block;
    list-style: none;
}

.paginate ul li {
    display: inline-block;
    list-style: none;
    padding: 2px;
}

.paginate {
    width: 500px;
    max-width: 95%;
}

#threads {
    text-align: center;
}

#catalog_threads>.thread {
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 0 3px;
    position: relative;
    width: 270px;
    max-height: 410px;
}

#catalog_threads {
    padding: 20px 20px;
    text-align: center;
}

#catalog_threads>.thread:focus {
    overflow-y: auto;
    height: auto;
    position: relative;
}

table {
    display: table;
    border-collapse: collapse;
    margin: 2px;
}

td, th {
    padding: 1em;
}

td {
    vertical-align: top;
}

span.subject {
	color: #b294bb;
	font-weight: 700;
}

.mt {
    margin-top: 2em;
}

form, .form {
    border: 1px solid #494949;
    padding: 1em;
    margin: 1em;
    background-color: #222222;
    max-width: max-content;
    border-radius: 4px;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

#submit {
    margin-top: 1em;
}

.btn,
.form_button {
    width: max-content;
    padding: 3px;
    background-color: #282a2e;
    border: 1px solid #666666;
    margin: 2px;
    color: #dddddd;
    border-radius: 4px;
    cursor: pointer;
    filter: none;
}

.rbtn {
    background-color: inherit;
    border: none;
    color: #81a2be;
    cursor: pointer;
    padding: 0;
    filter: none;
}

.rbtn:disabled {
    background-color: inherit;
    border: none;
    color: #727272 !important;
    cursor: default;
    padding: 0;
}

.rbtn:hover {
    color: #5f89ac !important;
}

.actionform {
    border: none;
    background-color: inherit;
    color: #99bcd9 !important;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline;
}

hr {
    background-color: #666666;
    height: 1px;
    border: none;
}

code {
    color: #07ca00;
}

.form-control {
    list-style: none;
    margin-bottom: 3px;
    display: flex;
}

@media (max-width: 420px) {
    .form-control {
      list-style: none;
      margin-bottom: 3px;
      display: table;
    }
  }

.field_label {
    background-color: #414141;
    color: inherit;
    padding: 2px;
    width: 90px;
    border-radius: 4px;
}

form ul {
    margin: 0;
    padding: 2px;
}


input
input[type=submit],
input[type=password],
input[type=number],
input[type=text],
input[type=date],
select,
option,
textarea
{
    filter: none;
    margin: 0;
    padding: 2px;
    width: 240px;
}

select, option {
    width: 246px;
    padding: 3px;
    text-align: center;
}

input[type=submit],
input[type=password],
input[type=number],
input[type=text],
input[type=date] {
    width: 240px;
    display: block;
    background-color: #282a2e;
    border: 1px solid #666666;
    color: inherit;
}

input[type=submit] {
    background-color: #4b2748;
    padding: 2px;
    color: inherit;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #462443;
}

input[type=submit]:disabled {
    cursor: default;
    background-color: #462443;
}

input[type=password] {
    text-align: left;
}

textarea {
    width: 240px;
    height: 4em;
    max-width: 90vw;
    max-height: 40vh;
    min-width: 2ch;
    min-height: 2ch;
    display: block;
    background-color: #282a2e;
    border: 1px solid #666666;
    color: #dddddd;
    font: inherit!important;
}

ul#boards {
    column-count: 4;
}

div.form-check {
    margin: 6px;
    padding-bottom: 6px;
}

.hl_cyan {
    background-color: #397070;
}

.hl_magenta {
    background-color: #70396c;
}

.hl_dark {
    background-color: #17191b;
}

textarea:focus,
input:focus {
    outline: 0;
}

.spoiler {
    opacity: 0.5;
}

.spoiler:hover {
    opacity: 1;
}

.thumb {
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.nofile {
    padding: 20px 36px;
    min-height: 0 !important;
}

.threadIcons {
    display: inline;
    height: 16px;
    margin: 2px 0 0 -33px;
    position: absolute;
    width: 32px;
    text-align: right;
}

.right {
    text-align: right;
}

.threadIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.stickyIconCatalog {
    background-image: url(/static/images/sticky.gif);
}

.closedIconCatalog {
    background-image: url(/static/images/closed.gif);
}

.warning {
    color: #c40000;
}

.poster {
    display: inline-block;
}

.pu-img .n-pu {
    background: url(/static/images/minileaf.gif) !important;
}

.m-2 {
    margin: 1em;
}

.m-1 {
    margin: 0.5em;
}

.mt-1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.d-flex {
    display: flex;
}

.rounded {
    border-radius: 4px;
}

.border {
    border: #8583ff solid 1px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#flash {
    background-color: #302ea1;
    color: inherit;
    padding: 1em;
    margin: 1em;
    border-radius: 4px;
}

.hover_image {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 50vw;
    max-height: 70vh;
}

img {
    cursor: pointer;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d1f21;
    padding: 4px;
    z-index: 1000;
}

#bottom {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1d1f21;
    padding: 4px;
}

#captcha_answer {
    width: 60px;
    padding: 2px;
    margin: 10px;
    text-align: center;
}

#report_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

#modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#report_close {
    cursor: pointer;
    text-align: right;
}

#report_close:hover {
    text-decoration: underline;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal_title {
    font-size: 18px;
    font-weight: bold;
}

.op_label {
    color: #4da57c;
}

.inline {
    display: inline;
}

.p4 {
    padding: 4px;
}
