#body {
    min-height: 95vh;
}

footer {
    max-height: 5vh;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-top: 1px #c5c8c6 solid;
}

.center {
    margin: auto;
    text-align: center;
}

.post_title {
    font-weight: bold;
}

.paginate ul {
    display: inline;
    list-style: none;
}

.paginate ul li {
    display: inline;
    list-style: none;
    padding: 2px;
}

#threads {
    text-align: center;
}

#catalog_threads>.thread {
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 0 3px;
    position: relative;
    width: 270px;
    max-height: 410px;
}

#catalog_threads {
    padding: 20px 0;
    text-align: center;
}

table {
    margin: 2px;
}

#searchform {
    border: 1px solid black;
    padding: 1em;
    width: fit-content;
}

#searchform input[type=submit],
#searchform .form-control{
    list-style: none;
    padding: 3px;
    margin-bottom: 1em;
    background-color: #282a2e;
    color: #c5c8c6;
    border: 1px solid black;
    display: flex;
    max-width: 80vw;
    width: 300px;
}

#searchform input[type=submit]{
    margin-top: 1em;
}

#searchform input[type=submit]:hover{
    cursor: pointer;
    background-color: #70396c;
}

#searchform input[type=submit]:disabled{
    cursor: default;
    background-color: #70396c;
}

#searchform #comment{
    width: 300px;
    max-width: 80vw;

}

#searchform li{
    margin: 5px;
}

.search_highlight_title {
    background-color: #397070;
}

.search_highlight_comment {
    background-color: #70396c;
}

textarea:focus, input:focus{
    outline: 0;
}
