#body {
    min-height: 95vh;
}

footer {
    max-height: 5vh;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-top: 1px #c5c8c6 solid;
}

.center {
    margin: auto;
    text-align: center;
}

.post_title {
    font-weight: 700;
    color: #b294bb;
}

.post_author {
    font-weight: 700;
}

.post_trip {
    font-weight: 400 !important;
    color: #c5c8c6;
}

.paginate ul {
    display: inline-block;
    list-style: none;
}

.paginate ul li {
    display: inline-block;
    list-style: none;
    padding: 2px;
}

.paginate {
    width: 500px;
    max-width: 95%;
}

#threads {
    text-align: center;
}

#catalog_threads>.thread {
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 0 3px;
    position: relative;
    width: 270px;
    max-height: 410px;
}

#catalog_threads {
    padding: 20px 20px;
    text-align: center;
}

#catalog_threads>.thread:focus {
    overflow-y: auto;
    height: auto;
    position: relative;
}

table {
    margin: 2px;
}

.mt {
    margin-top: 2em;
}

form {
    border: 1px solid #494949;
    padding: 1em;
    margin: 1em;
    background-color: #222222;
    max-width: max-content;
    border-radius: 1em;
}

.form-control {
    list-style: none;
    padding: 3px;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

#submit {
    margin-top: 1em;
}

.btn,
.form_button {
    width: 6ch;
    padding: 2px;
    margin-bottom: 1em;
    background-color: #282a2e;
    border: 1px solid #666666;
    margin: 2px;
    color: #c5c8c6;
    border-radius: 2px;
    cursor: pointer;
}

hr {
    background-color: #666666;
    height: 1px;
    border: none;
}

code {
    color: #07ca00;
}

input[type=submit],
input[type=password],
input[type=number],
input[type=text],
input[type=date] {
    max-width: 90vw;
    width: 240px;
    display: block;
    padding: 2px;
    margin-bottom: 1em;
    background-color: #282a2e;
    border: 1px solid #666666;
    margin: 2px;
    color: #c5c8c6;
}

input[type=number] {
    max-width: 100px;
    margin: auto;
    text-align: center;
    margin-top: 0.8em;
}


input[type=password] {
    text-align: left;
}

textarea {
    margin: 2px;
    width: 240px;
    height: 6em;
    max-width: 90vw;
    max-height: 40vh;
    min-width: 2ch;
    min-height: 2ch;
    display: block;
    background-color: #282a2e;
    border: 1px solid #666666;
    color: #c5c8c6;
    border-radius: 1em;
}

ul#boards {
    column-count: 15;
}
@media (max-width: 1100px) {
    ul#boards {
        column-count: 8;
    }
}
@media (max-width: 600px) {
    ul#boards {
        column-count: 4;
    }
}

ul#home_boards {
    column-count: 3;
    font-size: larger;
    max-width: 700px;
}
@media (max-width: 1200px) {
    ul#home_boards {
        column-count: 2;
        font-size: larger;
    }
}
@media (max-width: 600px) {
    ul#home_boards {
        column-count: 1;
        font-size: larger;
    }
}


input[type=submit] {
    background-color: #4b2748;
    border: 1px solid #666666;
    padding: 2px;
    color: #c5c8c6;
    border-radius: 1em;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #462443;
}

input[type=submit]:disabled {
    cursor: default;
    background-color: #462443;
}

div.form-check {
    margin: 6px;
    padding-bottom: 6px;
}

.search_highlight_title {
    background-color: #397070;
}

.search_highlight_comment {
    background-color: #70396c;
}

textarea:focus,
input:focus {
    outline: 0;
}

.spoiler {
    opacity: 0.5;
}

.spoiler:hover {
    opacity: 1;
}

.thumb {
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.nofile {
    padding: 20px 36px;
    min-height: 0 !important;
}

.threadIcons {
    display: inline;
    height: 16px;
    margin: 2px 0 0 -33px;
    position: absolute;
    width: 32px;
    text-align: right;
}

.threadIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.stickyIconCatalog {
    background-image: url(/static/images/sticky.gif);
}

.closedIconCatalog {
    background-image: url(/static/images/closed.gif);
}

.warning {
    color: red;
}

.poster {
    display: inline-block;
}

.pu-img .n-pu {
    background: url(/static/images/minileaf.gif) !important;
}

.m-2 {
    margin: 1em;
}

.m-1 {
    margin: 0.5em;
}

.d-flex {
    display: flex;
}

.rounded {
    border-radius: 4px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#flash {
    background-color: #302ea1;
    color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 4px;
}