{%- macro table(list_of_dicts, safe_cols=None) -%}
  {% if list_of_dicts %}
  <table style="border-collapse: collapse; font-family: Arial, sans-serif;">
    <thead>
      <tr>
        {%- for col in list_of_dicts[0].keys() -%}
          <td style="border: 0.5px solid #585858; padding: 8px; text-align: left;"><b>{{ col }}</b></td>
        {%- endfor -%}
      </tr>
    </thead>
    <tbody>
      {%- for row in list_of_dicts -%}
        <tr>
          {%- for col in row.keys() -%}
            <td style="border: 0.5px solid #585858; padding: 8px; max-width: 80ch; word-wrap: break-word; text-align: left;">
              {% if safe_cols and col in safe_cols %}
                {{ row[col]|safe}}
              {% else %}
                {{ row[col] }}
              {% endif %}
            </td>
          {%- endfor -%}
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {% else %}
    No data.
  {% endif %}
{%- endmacro -%}


{% macro render_field(field) %}
  <div class="form-control">
    {% if field.name not in ['submit', 'captcha_id', 'captcha_answer', 'boards'] %}
      <div class="field_label">{{ field.label }}</div>
    {% endif %}
    {{ field(**kwargs)|safe }}
  </div>
  {% if field.errors %}
    <div class="block">
      <div class="block">
        ^{% for error in field.errors %}{{ error }}{% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}