[app]
testing = false
secret = 'DEFAULT_CHANGE_ME' # python -c "import secrets as s; print(s.token_hex(24))"
validate_boards_db = true
autoreload = false
api = false # serve catalog.json, thread.json, index.json ?
url = 'http://127.0.0.1:9001' # 'http://127.0.0.1:9001' 'https://192.168.1.100' 'https://ayasequart.com' # everything before the paths/querystrings in your url
port = 9001
# ssl_key = 'key.pem'
# ssl_cert = 'cert.pem'


proxy_trusted_hops = 0
rate_limiter = true

allow_robots = false # robots.txt

login_endpoint = '/login'


[site]
name = 'Ayase Quart'
theme = 'tomorrow' # 'tomorrow' 'yotsuba' 'yotsuba_b' 'futaba' 'burichan' 'photon'


[archive]
name = '4chan' # '4chan' 'lainchan'



[db]
db_type = 'mysql' # mysql, sqlite, postgresql
echo = false # if true, print rendered sql statements to console

[db.mysql] # follow pymysql/aiomysql connection keys
host = '127.0.0.1'
port = 3306
# unix_socket = '/var/run/mysqld/mysqld.sock'
db = 'asagi'
user = 'asagi'
password = 'asagi'
minsize = 1
maxsize = 50

[db.sqlite] # follow aiosqlite connection keys
database = 'path/to/file.db'
load_sqlite_into_memory = false # this must be false to persist data


[db.postgresql] # follow aiosqlite connection keys
host = 'localhost' # also used for unix domain socket
port = 5432
user = 'asagi'
password = 'asagi'
database = 'asagi'
min_size = 1
max_size = 50



[redis] # follow coredis connection keys
redis = true # true, false. AQ uses redis to cache user auth, and filter posts that have been reported
host = "127.0.0.1"
port = 6379
db = 0 # redis database id



[media]
# set image_uri or thumb_uri to '' if you don't want any boards to serve image, or thumb media, respectively
image_uri = "https://192.168.1.16:9003/static/ritual/{board_shortname}/image" # must contain {board_shortname}
thumb_uri = "https://192.168.1.16:9003/static/ritual/{board_shortname}/thumb" # must contain {board_shortname}

# Below are optional settings for serving media outside the quart app's static path
#       i.e. outside of '/path/to/ayase_quart/src/static'

serve_outside_static = false # true, false

# `media_root_path` is the full path to the root media directory on your server
#       i.e. if you have images like '/mnt/dl/<board_shortname>/image' set this to '/mnt/dl'
media_root_path = ''

# only serve files with these extension from outside the static path
valid_extensions = ['jpg', 'jpeg', 'png', 'gif', 'webm', 'mp4']

# `endpoint` serves content from your filesystem at the endpoint /<endpoint>/<board_shortname>/image
#       i.e. if you want to serve content from '/srv/media/<board_shortname>/image' set this to '/srv/media'
endpoint = '/srv/media'

# If you use this, declare the two URIs like below, and comment out the above URI declarations.
# image_uri = "/<endpoint>/{board_shortname}/image" # e.g. "/srv/media/{board_shortname}/image"
# thumb_uri = "/<endpoint>/{board_shortname}/thumb" # e.g. "/srv/media/{board_shortname}/thumb"

# The default is to serve media from all boards [Aside: set image_uri or thumb_url to '' to not serve the images, or thumbs, respectively]
# You can specify a subset of boards with a whitelist
boards_with_image = '' # comma separated list of board shortnames like '' or 'a,o'
boards_with_thumb = '' # comma separated list of board shortnames like '' or 'g,ck,o'

try_full_src_type_on_404 = false # let clients request full src (images only, not videos) if thumbs not found?



[vanilla_search]
enabled = true
highlight = false
hits_per_page = 50
max_hits = 1_000
multi_board_search = false



[index_search]
enabled = true
highlight = false
hits_per_page = 50
max_hits = 1_000
provider = 'lnx' # 'lnx', 'meili', 'manticore', 'typesense', 'quickwit'
host = 'http://localhost:8000' # index search host. It should really be a LAN IP address like '192.168.1.122' - not 'localhost', nor a domain name.
headers = { content-type = 'application/json' }
version = '1' # only matters for quickwit
multi_board_search = true



[moderation]
moderation = true # true, false

admin_user = 'admin'
admin_password = 'admin'

default_reported_post_public_access = 'hidden' # 'visible', 'hidden'
hide_4chan_deleted_posts = true # hide 4chan staff deleted posts in archive
remove_replies_to_hidden_op = true # true, false # If remove_op_replies is true, then replies to hidden OPs are also hidden

filter_cache_type = 'sqlite' # 'sqlite', 'bloom' (not supported yet)

regex_filter = '' # never serve posts matching this regex pattern e.g. 'gentoo|based'
path_to_regex_so = '' # download from https://github.com/asg017/sqlite-regex/releases

# path where hidden images should go
# if empty, images can still be served if their URLs are known
hidden_images_path = '' # e.g. '/home/garbage/disposal'

[moderation.sqlite]
database = 'moderation.db' # name of the moderation database. Will be created in `src`.
load_sqlite_into_memory = false # this must be false to persist data

[moderation.auth]
cookie_samesite='Strict'
cookie_secure=false # set this to true when you are using https / are in production
cookie_http_only=true # js does not need to access auth cookies
cookie_name='aq'

cookie_salt='web salt'
bearer_salt='api salt'

cookie_duration=604_800 # one week
bearer_duration=604_800 # one week


[archiveposting]
enabled = true
database = '/home/archiveposting.db'
board_name = 'ayase_quart'
board_desc = '''This is Ayase Quart's text board. Only ascii is permitted.'''
ascii_only = true


[tagging]
enabled = true # true, false

database = '/absolute/path/to/tagging.db' # the tagger has its own database

tag_model_repo_id = 'SmilingWolf/wd-swinv2-tagger-v3' # 'SmilingWolf/wd-convnext-tagger-v3' 'SmilingWolf/wd-vit-tagger-v3'

allow_file_search = true # allow upload of files to search?
exts = ['jpg', 'png', 'jpeg', 'gif'] # no . prefix, file the ext
use_cpu = false # cpu or gpu

max_page_retries = 2 # query the tag database up to <max_page_retries> times, or until <hits_per_page> is reached

load_sqlite_into_memory = true # this must be false to persist data