{{ t_header }}
<div class="postInfo desktop" id="pi{{num}}">
    {{ t_menu }}
    <b>/{{board_shortname}}/</b>
    {% if num == thread_num %}
        <strong class="op_label">OP</strong>
    {% endif %}
    {{ t_filedeleted }}
    {{ t_sub }}
    {{ t_name }}
    {% if t_cc %}<span class="nameBlock {{ t_cc_class }}">{{t_cc}}</span>{% endif %}{{ t_poster_hash }}
    {{ t_since4pass }}
    {{ t_country }}
    {{ t_troll_country }}
    <span class="dateTime" data-utc="{{ts_unix}}">{{format_ts(ts_unix)}}</span>
    <a href="{{t_post_link_rel}}">No.{{num}}</a>
    {% if num == thread_num %}
        {{ t_sticky }}
        {{ t_closed }}
    {% endif %}
    {{ t_quotelink }}
</div>
{% if num == thread_num %}
    {{t_media}}
{% endif %}
<blockquote class="postMessage" id="m{{num}}">{{comment or ''}}</blockquote>
</div>
</div>
